a:link {
    color: blueviolet;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: blue;
    text-decoration: underline;
    background-color: none;
}
a:visited {
    color: greenyellow;
    text-decoration: none;
    background-color: transparent;
}
a:active {
    color: yellow;
    text-decoration: none;
    background-color: transparent;
}